<!DOCTYPE html>
<html lang="en">
<head>
	<title>Choose Between</title>
</head>	
<body>
	<h1><title>Choose Between</title></h1>
	<form action="post_topic" method="post" target="_self">
	<table>
		<tr width="300px" align="center"><input align="center" name="mysearch" size="60" type="search" placeholder="Ask your questio here.."/></tr>
		<tr><td><textarea name="option1" rows="8" cols="40"></textarea></td><td><textarea name="option2" align="left" rows="8" cols="40"></textarea></td></tr>
		<tr><td><input type="submit" value="Post"></td></tr>
	</table>
	</form>
</body>